/* Base styles */
body {
  background-color: #e8f0fb;
  box-sizing: border-box; }

a, h1, #content a {
  color: #00839c;
  border: none; }

/* grids */
.eea-grids {
  margin-left: -15px; }

/* helper classes */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.left-gutter {
  margin-left: 1em; }

/* column sizes for eea-tabs panels */
.eea-two-columns {
  width: 47%; }

.eea-three-columns {
  width: 30%; }

.eea-four-columns {
  width: 22%; }

/* Overrides */
#content.wf-state-visible, #content.wf-state-published_eionet, #content.wf-state-new, #content.wf-state-closed, #content.wf-state-content_pending, #content.wf-state-draft, #content.wf-state-in-progress, #content.wf-state-private, #content.wf-state-rejected, #content.wf-state-retracted, #content.wf-state-submitted, #content.wf-state-webqa_pending.progresstrail {
  background: none; }

#edit-bar {
  display: none; }

#content .documentDescription, #content #description {
  color: #5e6464; }

.state-published {
  color: #00839c !important; }

#portal-breadcrumbs {
  background: transparent; }

#content h1#parent-fieldname-title {
  width: 100%;
  padding: 0;
  margin: 0; }

dl.portlet dt, div.portletAssignments div.portletHeader {
  background-color: transparent; }

.column-area {
  width: 65%; }

.right-column-area {
  width: 35%; }
  .right-column-area .portlet {
    padding: 2em; }

.column-area, .right-column-area {
  padding: 0 0 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#content-core .right-column-area dd {
  margin: 0em; }

.featured, .portlet {
  background-color: white; }

.eea-tabs-panels, .eea-tabs-panel {
  background-color: transparent;
  border: 0; }

.eea-tabs-panel {
  padding: 10px;
  overflow: hidden; }
  .eea-tabs-panel ul {
    float: left;
    margin-left: 1.2em; }

/* Content Styles */
#parent-title {
  background-color: white;
  padding: 1em;
  margin-bottom: 2em; }

.top-highlights {
  margin-bottom: 2em;
  background-color: white;
  overflow: hidden; }
  .top-highlights .portlet {
    padding-top: 2em; }

#visual-portal-wrapper ul.eea-tabs.eea-tabs-soer {
  background-color: transparent;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer > li {
    width: 19.5%;
    text-align: center;
    height: 65px;
    background-color: transparent;
    margin-right: 5px; }
    #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer > li.last-child {
      width: 20%;
      margin-right: 0; }
    #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer > li:first-child > a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer > li > a {
      padding: 0.8em 2em 1em 0.8em;
      white-space: normal;
      word-wrap: break-word;
      text-shadow: 0 0;
      color: #FFF !important; }
      #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer > li > a:hover {
        color: #FFF !important;
        text-shadow: 1px 1px #000; }
  #visual-portal-wrapper ul.eea-tabs.eea-tabs-soer .eea-icon {
    float: left;
    display: block;
    line-height: 1.5;
    opacity: 0.8; }

#visual-portal-wrapper .current {
  position: relative; }

.eea-tabs-soer a.current:after {
  top: 100%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 15px solid transparent;
  border-top-color: #212759;
  margin-left: -10px; }

#visual-portal-wrapper #tab-synthesis-report {
  background-color: #212759; }
  #visual-portal-wrapper #tab-synthesis-report.current:after {
    border-top-color: #212759; }
#visual-portal-wrapper #tab-global-megatrends {
  background-color: #825282; }
  #visual-portal-wrapper #tab-global-megatrends.current:after {
    border-top-color: #825282; }
#visual-portal-wrapper #tab-cross-country-comparisons {
  background-color: #017c8b; }
  #visual-portal-wrapper #tab-cross-country-comparisons.current:after {
    border-top-color: #017c8b; }
#visual-portal-wrapper #tab-thematic-briefing {
  background-color: #80a643; }
  #visual-portal-wrapper #tab-thematic-briefing.current:after {
    border-top-color: #80a643; }
#visual-portal-wrapper #tab-regions-countries {
  background-color: #f15e2b; }
  #visual-portal-wrapper #tab-regions-countries.current:after {
    border-top-color: #f15e2b; }

.eea-tabs-panel a {
  font-weight: bold; }

/*# sourceMappingURL=eea_soercontent.css.map */
