/* Hidden elements */
.fiche-endnotes,
.portal-logo,
#viewlet-above-content {
  display: none; }

.eea-three-quarter {
  max-width: 475px; }

.eea-one-quarter {
  min-width: 150pt; }

/* body */
.body-print {
  background-color: transparent !important; }

/* pdf header section */
.pdf-fiche-header {
  font-size: 75%;
  width: 585px;
  margin: 0 auto;
  height: 60px;
  position: relative; }

.pdf-header-title {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0.5em; }

.pdf-fiche-title {
  height: 150pt;
  overflow: hidden; }

.fiche-title {
  font-size: 24pt;
  font-weight: bold;
  line-height: 0; }

.fiche-section {
  font-size: 18pt;
  font-weight: normal; }

.logo-header {
  position: absolute;
  top: 0;
  margin-top: 2px;
  right: 0; }

/* pdf Footer section */
/* headers and description */
.pdf-fiche-page {
  padding: 2px 4px;
  color: #FFF; }

.section-synthesis .pdf-fiche-page {
  background-color: #272b57; }

.section-europe .pdf-fiche-page {
  background-color: #637e22; }

.section-countries .pdf-fiche-page {
  background-color: #ba3c0d; }

.section-global .pdf-fiche-page {
  background-color: #733d85; }

.section-countries-comparison .pdf-fiche-page {
  background-color: #007a86; }

